<div class="overlay" id="loadingOverlay" style="display: none;">
    <div class="popup-container" id="popup">
        <div class="popup-content">
            <img id="spinnerImg" src="/static/images/spinner.gif">
            <h2 class="alertapop">Cargando</h2>
            <p style="color:#5106A7;">Estamos procesando tu requerimiento</p>
        </div>

    </div>
</div>
<div class="overlay" id="successOverlay" style="display: none;">
    <div class="popup-container" id="popup">
        <div class="popup-content">
            <i class="fas fa-check fa-2x" style="color:#48ce50;"></i>
            <h2 class="alertapop">Éxito</h2>
            <p style="color:#5106A7;">Operación realizada exitosamente</p>
        </div>
    </div>
</div>
<div class="overlay" id="failOverlay" style="display: none;">
    <div class="popup-container" id="popup">
        <div class="popup-content">
            <i class="fas fa-times fa-2x" style="color:#dc3545;"></i>
            <h2 class="alertapop">Error</h2>
            <p id="fail_msg" style="color:#5106A7;">Hubo un error procesando tu requerimiento</p>
        </div>
    </div>
</div>