<label class= "{{.TextAreaLabelClass}}" for="{{.TextAreaId}}">{{.TextAreaLabel}} <span v-if="{{.Mandatory}}" class="mandatory">*</span></label>
<div :class="errors.{{.EntityName}}&&errors.{{.EntityName}}.{{.EntityAttr}} ? '{{.TextAreaErrorClass}}' : ''">
    <textarea v-model="{{.EntityPath}}.{{.EntityName}}.{{.EntityAttr}}" rows="{{.TextAreaRows}}" class="{{.TextAreaClass}}" id="{{.TextAreaId}}" placeholder="{{.TextAreaPlaceHolder}}"></textarea>
    <span v-if="errors.{{.EntityName}}&&errors.{{.EntityName}}.{{.EntityAttr}}" id="{{.ErrorSpanId}}" class="error_label">${errors.{{.EntityName}}.{{.EntityAttr}}}</span>
</div>
