
    <div class="container">
        <div class="welcome-section">
            <h2><b>{{ template "text_translated.html" Text `{"text":"feminicide_risk_form1_header"}` .lang .locale}}</b></h2>
        </div>
        
        <div class="tab-content" id="myTabContent">
            
            <div v-if="!feminicideRisks || feminicideRisks.length == 0"> {{ template "text_translated.html" Text `{"text":"empty_eminicide_risks_search"}` .lang .locale}} </div>

            <div v-else class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Fecha Creación</th>
                            <th scope="col">Identificación</th>
                            <th scope="col">Nombres y Apellidos</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="feminicideRisk in feminicideRisks">
                            <tr>
                                <td>${feminicideRisk.creationDate}</td>
                                <td>${feminicideRisk.victimDocType} - ${feminicideRisk.victimDocNumber}</td>
                                <td>${feminicideRisk.lastNames}, ${feminicideRisk.names}</td>
                                <td>
                                    <div class="d-flex justify-content-around acciones">
                                        <template v-for="item in menuToolsFeminicideRiskTable">
                                            <a :class="item.customClass"
                                                :href="`${item.path}/${feminicideRisk.icode}/${item.action}`"
                                                style="text-decoration:none">
                                                ${item.label}</a>
                                        </template>
                                    </div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <nav v-if="numPages>1" aria-label="Paginación">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" :class="{ disabled: currentPage === 0 }">
                            <a class="page-link" href="#" @click.prevent="goToPage(currentPage - 1)">Anterior</a>
                        </li>
                        <template v-for="(p, i) in visiblePages" :key="i">
                            <li v-if="p === '...'" class="page-item disabled">
                                <span class="page-link">...</span>
                            </li>
                            <li v-else class="page-item" :class="{ active: p === currentPage }">
                                <a class="page-link" href="#" @click.prevent="goToPage(p)">${ p + 1 }</a>
                            </li>
                        </template>
                        <li class="page-item" :class="{ disabled: currentPage === numPages - 1 }">
                            <a class="page-link" href="#" @click.prevent="goToPage(currentPage + 1)">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>      
        </div>
    </div>

      {{ template "standard_scripts.html" .}}
        {{ template "overlay.html" .}}
      
      <script>
        
        var home = Vue.createApp({
          delimiters : ['${', '}'],
          data() {
            return {
              windowTitle:{{.windowTitle}},
              currentUser:{{.currentUser}},
                
              feminicideRisks: JSON.parse({{.feminicideRisks}}).data,
              numPages: JSON.parse({{.numPages}}),
              currentPage: 0,
              currentTab: "recontact_v", // Nombre del tab de primer contacto
              currentFilter: "fcv", //Primer contacto

              menu:{{.menu}},
              menuToolsFeminicideRiskTable: {{.menuToolsFeminicideRiskTable}},
              enums:{
                
              },
              errors:{}
            }
          },
          created: function () {
            
            
          },
          mounted:  function () {
            document.title = {{.windowTitle}};
            document.getElementById('app').style.display = 'block';
            
          },
          computed: {
            visiblePages() {
                const pages = []
                const max = this.numPages
                const current = this.currentPage
                const delta = 2 // cuántas páginas mostrar alrededor de la actual

                const range = []
                const rangeWithDots = []
                let l

                for (let i = 0; i < max; i++) {
                    if (i == 0 || i == max - 1 || (i >= current - delta && i <= current + delta)) {
                        range.push(i)
                    }
                }

                for (let i of range) {
                    if (l !== undefined) {
                        if (i - l === 2) {
                            rangeWithDots.push(l + 1)
                        } else if (i - l > 2) {
                            rangeWithDots.push('...')
                        }
                    }
                    rangeWithDots.push(i)
                    l = i
                }

                return rangeWithDots
            }
        },
        methods: {
            logout(){
                logout("/seguridad/logout");
            },
            goToPage(page) {
                
                if (page < 0 || page >= this.numPages) return
                this.currentPage = page;
                this.feminicideRisks = [];
                
                getEntity("{{.salviaVictimCaseGETFormPath}}/f/"+this.currentFilter+"/p/"+this.currentPage, (function(status, response) {
                    if (status === 200) {
                        window.scrollTo(0, 0);
                        document.getElementById('successOverlay').style.display = 'none';
                        this.feminicideRisks = response.data;
                        if (response.numPages > 0){
                            // Sólo se trae el número de elementos cuando se consulta la página 0, en adelante se ignora el valor
                            this.numPages = response.numPages;
                        }
                        
                    }else if (status === 400) {
                        this.errors = response;
                    }else if (status === 404) {
                        alert("Se produjo un error interno, por favor vuelva a intentarlo");
                    }
                }).bind(this));
            },
            goToTab(tabName) {
                
                if (this.currentTab == tabName) return
                
                this.currentTab = tabName;
                var filter = "fcv";
                switch (tabName) {
                    case "recontact_v":
                    filter = "fcv";
                    break;
                    case "recontact_i":
                    filter = "fci";
                    break;
                    case "routing":
                    filter = "ra";
                    break;
                    case "routedToApprove":
                    filter = "r";
                    break;
                    case "expired":
                    filter = "ex";
                    break;
                    case "completed":
                    filter = "cd";
                    break;
                    case "issues":
                    filter = "is";
                    break;
                }
                this.currentFilter = filter;
                this.numPages = 1;
                this.goToPage(0);
            }
          }
        });
        
        home.mount("#app");
  
        
      </script>