<div class="container">
  <div class="welcome-section">
    <h2><b>Usuarios de Salvia</b></h2>
    <a href="/seguridad/usuarios/nuevo"><button class="btn btn-primary">Crear Nuevo usuario <i
          class="fas fa-plus-circle"></i> </button></a>
  </div>

  <div class="tab-content" id="myTabContent">
    
    <!-- Botón cargue de archivos -->
    <div style="margin-bottom:12px;text-align:right">
      <button v-on:click="loadPlainFiles()" class="btn btn-primary"><i class="fa fa-file-archive" data-toggle="tooltip" data-placement="top" title="Cargue de archivos"></i></button>
    </div>

    <!-- Componente de listado con búsqueda -->
    <admin-users-list :user-base-path="'{{.salviaGeneralUserGETFormPath}}'"></admin-users-list>
  </div>
</div>


  {{ template "standard_scripts.html" .}}
  {{ template "overlay.html" .}}

   
  <script>
      
    var home = Vue.createApp({
      delimiters : ['${', '}'],
      data() {
        return {
          windowTitle:{{.windowTitle}},
          currentUser:{{.currentUser}},
          res: JSON.parse({{.users}}).data,
          menu:{{.menu}},
          menuToolsUserTable: {{.menuToolsUserTable}},
          numPages: JSON.parse({{.numPages}}),
          currentPage: 0,
          currentTab: "all", 
          currentFilter: "all", //todos
        }
      },
      created: function () {
        
        /*getData("/seguridad/usuarios", (function(status, response) {
          if (status === 200) {
            //parse JSON datax`x
            
            this.res = response;
            
          } else if (status === 404) {
            console.log("No records found")
          }
        }).bind(this));
        */
      },
      mounted:  function () {
            document.title = {{.windowTitle}};
        document.getElementById('app').style.display = 'block';
      
      },
      computed: {
        visiblePages() {
          const pages = []
          const max = this.numPages
          const current = this.currentPage
          const delta = 2 // cuántas páginas mostrar alrededor de la actual

          const range = []
          const rangeWithDots = []
          let l

          for (let i = 0; i < max; i++) {
              if (i == 0 || i == max - 1 || (i >= current - delta && i <= current + delta)) {
                  range.push(i)
              }
          }

          for (let i of range) {
              if (l !== undefined) {
                  if (i - l === 2) {
                      rangeWithDots.push(l + 1)
                  } else if (i - l > 2) {
                      rangeWithDots.push('...')
                  }
              }
              rangeWithDots.push(i)
              l = i
          }

          return rangeWithDots
        }
      },
      methods: {
        logout(){
            logout("/seguridad/logout");
        },
        goAbout() {
            //about.mount('#app');
        },
        evaluarItemAssert (item, user){
          var checked = true;
          if (item.assert){
            checked = eval(item.assert);
          }
          return checked
        },
        loadPlainFiles(){
            location.assign("{{.salviaPlainFilesFormPath}}");
        },
        goToPage(page) {
                
          if (page < 0 || page >= this.numPages) return
          this.currentPage = page;
          this.res = [];
          
          getEntity("{{.salviaGeneralUserGETFormPath}}/f/"+this.currentFilter+"/p/"+this.currentPage, (function(status, response) {
              if (status === 200) {
                  window.scrollTo(0, 0);
                  document.getElementById('successOverlay').style.display = 'none';
                  this.res = response.data;
                  if (response.numPages > 0){
                      // Sólo se trae el número de elementos cuando se consulta la página 0, en adelante se ignora el valor
                      this.numPages = response.numPages;
                  }
                  
              }else if (status === 400) {
                  this.errors = response;
              }else if (status === 404) {
                  alert("Se produjo un error interno, por favor vuelva a intentarlo");
              }
          }).bind(this));
            
        },
        goToTab(tabName) {
                
          if (this.currentTab == tabName) return
            
          this.currentTab = tabName;
          var filter = "all";
          switch (tabName) {
              case "all":
              filter = "all";
              break;
              case "active":
              filter = "a";
              break;
              case "disabled":
              filter = "d";
              break;
          }
          this.currentFilter = filter;
          this.numPages = 1;
          this.goToPage(0);
        }
      }
    });
    </script>
    <script src="/static/js/components/admin-users-list.js"></script>
    <script>
    home.mount("#app");
    

    
  </script>